-# coding: utf-8
%html
  %head
    %title
      Примеры
      = @subtitle
    :css
      *                 { font-family: verdana }
      table             { border-collapse: collapse; margin-bottom: 1.5em }
      table td          { border: solid 1px #ccc; font-size: 14pt; padding: 5px 10px }
      table td.primer   { text-align: center }
      table td.input    { padding: 2px 4px }
      table th          { padding-top: 1.2em; font-size: 11pt; font-weight: normal; color: gray; display:none }
      table caption     { color: gray; font-size: 10pt }

      input             { font-size: 12pt; text-align: center; width: 9em }
      input.empty       { background-color: #ffc }
      input.wrong       { background-color: #f88 }
      input.correct     { background-color: #8f8 }

      table.math input  { width: 6em }

      div.password      { 
        display: none;
        font-weight: bold; color: black;
        background-color: #8f8; border: solid 1px green;
        text-align:center; font-size: 20; padding: 10px;
        width: 10em;
      }

      sup               { font-size: 9pt }

      .answer           { display: none }

    %script(src="/jquery-2.0.3.min.js")
    :javascript
      $(function(){
        $('input').first().focus()
        $('input').keyup(function(){
          check_input(this)
        })

        // reload page at next day 01:00, if window still open
        var d=new Date()
        var d1=new Date(d.getFullYear(), d.getMonth(), d.getDate()+1, 1)
        setTimeout(function(){ window.location.reload() }, d1-d)
      })

      function check_input(input){
        input = $(input)

        input.removeClass('empty wrong correct')
        var answer = input.val() //.replace(/ /g, '')
        if( answer.length == 0 ){
          input.addClass('empty')
          return
        }

        if( check_answer(input, answer) ){
          input.addClass('correct')
        } else {
          input.addClass('wrong')
        }

        if( $('.primer').length == $('.correct').length ){
          var t = #{@password.to_i(16)}
          t = t.toString(16).toUpperCase()
          while( t.length < 8 ) t = '0' + t;
          $('.password').html(t)
          $('.password').show(100)
        } else {
          $('.password').hide(100)
        }
      }

      function check_answer(input, answer){
        if( ! /^\d+$/.exec(answer) )
          answer = answer.split("").map(function(x){return x.charCodeAt(0)}).join(",")

        var right_answer = answers[parseInt($(input).siblings('.answer').text())-1]
        if( typeof(right_answer) == "object" ){
          // multiple right answers
          return right_answer.indexOf(answer) != -1
        } else {
          return answer == right_answer
        }
      }
  %body
    %center
      %table.math
        %caption реши примеры
        - @primers.each_with_index do |primer, idx|
          %tr
            %td.primer= primer.to_s.tr('/*',':∙').gsub(/∙∙(\d+)/, '<sup>\1</sup>')
            %td.input
              %input.empty
              .answer= @answers.push(primer.result).size

      %table.equations
        %caption реши уравнения
        - @equations.each do |e|
          %tr
            %td.primer= e.to_s.tr('/*',':∙').gsub(/∙∙(\d+)/, '<sup>\1</sup>')
            %td.input
              %input.empty
              .answer= @answers.push(e.answer).size

        - @modules.each do |km, m|
          %table
            %caption= m['title']
            - m['data'].to_a.shuffle[0, m['primers']].each do |k,v|
              %tr
                %td.primer= k
                %td.input
                  %input.empty
                  .answer= @answers.push(v).size
      .password
  :javascript
    var answers = #{scramble(@answers).to_json}
